body {
    font: 100% "Lucida Sans", Verdana;
    margin: 20px;
    line-height: 26px;
}

#top {
    background-color: #04AA6D;
    color: #ffffff; 
    padding: 15px;
}

#top h1, #top p, ul {
    margin: 0;
    padding: 0;
}

li { 
    background-color: #f1f1f1; 
    border: 1px solid #d4d4d4;  
    margin: 4px;
    cursor: pointer;
    list-style-type: none;
}

li:hover {
    background-color: #ffffff;
}

li:first-child {
    background-color: #04AA6D;
    color: white;
    font-weight: bold;
}

ul { 
    float: left;
    width: 200px;
}

#main {
    margin: 0 210px;
    padding: 10px;
}

#sidebar {
    background-color: #32a4e7;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 180px;
    margin: 4px 0px;
    padding: 10px;
}

.wrapper {
    position: relative;
}

#bottom { 
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    font-size: 70%;
    line-height: 14px;
    padding: 10px 20px;
    text-align: center;
}

#top, li, #sidebar, #bottom {
    border-radius: 4px;     
}

a{ 
    text-decoration: underline;
    color:black
}

a:hover{
    text-decoration: none;
}

#bottom p{
    margin: 0px;
}
