body{
    font: 100% Verdana;
    margin: 20px;
    line-height: 26px;
 }

#top{
    font: 100% Verdana;
 }

 .wrapper {
    position: relative;
    overflow: auto;
 }

h1, h2, h3{ 
    color: #4CAF50;
}

#menulist {
    padding: 0;
    position: relative;
    overflow: auto;
    }

.menuitem {
    width: 165px;
    float: left;
    background-color: #555555;
    color: white;
    list-style-type: none;
    margin: 4px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}

li{ }

ul{ 
    padding-inline-start: 40px;
}

li:nth-child(3){
    background-color: #04AA6D;
}

li:hover{
    cursor: pointer;
    color: #4CAF50;
}

#sidebar{ 
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    padding-left: 10px;
}

#bottom{
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
 }

#bottom p{ }

a{ }


/*
background-color: black;
color: black;
margin: 0px;
padding-top: 1px;
width: 165px;
*/