body{
background-color: black;
color: forestgreen;
font: 100% "Courier New";
line-height: 25px;
}

#top{
    padding: 15px;
 /*   border: 12px dashed blueviolet;*/
    margin: 25px;
}
#top h1, #top p{
    margin: 0px;
}

li:hover{
    color: azure;
    cursor: pointer;
}

#menubar{
    background-color: black
}

#main{
    margin: 15px;
}

.wrapper{
    position: relative;
}
#sidebar{
    background-color: rgba(137, 43, 226, 0.295);
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
    border: 2px, solid white;
    margin: 5px;
    color: white;
    border-radius: 7px;
    padding: 10px;
    font-size: 70%;
    line-height: 18px;
    text-align: center;
}

a {
    color:white;
    font:16px; }

a:hover{
    color:green;
    font:16px; 
}

#bottom {
    border: 2px solid white; 
    border-radius: 7px;
    margin: 15px;
    color: white;
    font-size: 80%;
    padding: 10px;
    line-height: 15px;
    text-align: center;
}

li:nth-child(4){
    color: white;
    font-weight: bold;
}

@media(max-width: 700px){
    #sidebar{
    position: relative;
    width: auto;
    margin: 15px;
    }
};

h1{
color:rgb(20, 113, 220);
text-align: center
}

h2{
color: green;
text-align: center;
}

h3{
    color:white;
    text-align: center;
    }