body{
    font: 100% Verdana;
    line-height: 26px;
    margin: 20px;
     }

#top{
    padding-top: 1px;    
 }

h1, h2, h3{ 
    color: #4CAF50;
}

#menulist {
    padding: 0;
    position: relative;
    overflow: auto;
    }

li{ 
    background-color: #555555;
    color: white;
    list-style-type: none;
    cursor: pointer;
    margin: 4px;
    float: left;
    width: 165px;
    text-align: center;
    padding: 2px;
}

ul{ 
    /*padding-inline-start: 40px;*/
    overflow: auto;
    padding: 0;
}

li:nth-child(3){
    background-color: #04AA6D;
}

li:hover{
    cursor: pointer;
    background-color: black
}

#sidebar{ 
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    padding-left: 10px;
}

#bottom{
    margin: 0px;
 }

#bottom p{
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
 }

a{
    color: black;
 }

 a:hover {
    color: #4CAF50;
 }

