body{
background-color: rgba(247, 7, 7, 0.76);
color: rgb(11, 1, 19);
font: 20px "currier new";
}

a{
color:aliceblue;
font:16px; 
}
h1{
color:rgb(130, 20, 220);
text-align: center
}

h2{
color:gold;
text-align: center;
}

h3{
    color:rgb(250, 153, 8);
    text-align: center;
    }