body{
background-color: black;
color: forestgreen;
font: 20px "currier new";
}

a{
color:aliceblue;
font:16px; 
}
h1{
color:crimson;
text-align: center
}

h2{
color:gold;
text-align: center;
}

h3{
    color:purple;
    text-align: center;
    }